{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static 'css/maldiv2.css'%}">
    <link rel="website icon" href="{% static 'img/Logo.png' %}" type="png">
    <title>Only YOU Hotel Málaga</title>
</head>
<body>
<nav class="header_nav">
    <ul class="header_list">
        <li class="header_item">
            <a class="header_link header_link_color" href="{% url 'home' %}">Главная страница</a>
        </li>
        <li class="header_item">
            <a class="header_link header_link_color" href="{% url 'podbor' %}">Поиск тура</a>
        </li>
        <li class="header_item">
            <a class="header_link header_link_color" href="{% url 'otzivi' %}">Отзывы</a>
        </li>
        <li class="header_item">
            <a class="header_link header_link_color" href="{% url 'oplata' %}">Оплата</a>
        </li>
        <li class="header_item">
            <a class="header_link header_link_color" href="{% url 'kontakt' %}">Контакты</a>
        </li>
    </ul>
</nav>
<div>
    <h1 class="text">Only YOU Hotel Málaga</h1>
</div>
<div>
    <p class = "text1">Отель Only YOU Málaga с открытым бассейном, баром и видом на море расположен в Малаге, в 750 метрах от пляжа Ла-Малагета. Стойка регистрации работает круглосуточно. Предоставляется бесплатный Wi-Fi. Гости могут посетить ресторан или заказать доставку еды и напитков в номер. Гипоаллергенный отель расположен в 1,6 км от пляжа Ла-Калета.В числе удобств номеров — кондиционер, письменный стол, чайник, мини-бар, сейф, телевизор с плоским экраном, собственная ванная комната с душем, К услугам гостей каждого номера кофемашина и шкаф для одежды.В отеле Only YOU Málaga сервируется континентальный завтрак или завтрак «шведский стол».Гости могут отдыхать на террасе для загара.Рядом с отелем Only YOU Málaga находятся такие достопримечательности, как пляж Сан-Андрес, собор Малаги и рынок Атарасанас.
    </p>
    <p class = "text2">Расстояние до аэропорта Малага — Коста-дель-Соль составляет 8 км.Это любимая часть города Малага среди наших гостей согласно независимым отзывам.Парам особенно нравится расположение — они оценили проживание в этом районе для поездки вдвоем на 9,8.</p>
</div>
<div class="slider moddel">
    <div class="slides">
        <input type="radio" name="r" id="r1">
        <input type="radio" name="r" id="r2">
        <input type="radio" name="r" id="r3">
        <input type="radio" name="r" id="r4">

        <div class="slide s1"><img src="{% static 'img/maldiv23.jpg' %}" alt=""></div>
        <div class="slide"><img src="{% static 'img/maldiv21.jpg' %}" alt=""></div>
        <div class="slide"><img src="{% static 'img/maldiv22.jpg' %}" alt=""></div>
        <div class="slide"><img src="{% static 'img/maldiv24.jpg' %}" alt=""></div>
    </div>
    <div class="navigation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
        <label for="r4" class="bar"></label>
    </div>
    </div>
</div>
</div>
<div>
    <li class="headeritem">
        <a class="headerlink header_link_color linkk" href="{% url 'oplati' %}">Забронировать</a>
    </li>
    <p class = "text3">Цена: 13600$</p>
</div>
</body>
</html>