{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/otzivi.css'%}">
    <link rel="website icon" href="{% static 'img/Logo.png' %}" type="png">
    <title>Отзывы</title>
</head>
<body>
<nav class="header_nav">
    <ul class="header_list">
        <li class="header_item">
            <a class="header_link header_link_color" href="{% url 'home' %}">Главная страница</a>
        </li>
        <li class="header_item">
            <a class="header_link header_link_color" href="{% url 'podbor' %}">Поиск тура</a>
        </li>
        <li class="header_item">
            <a class="header_link header_link_color" href="{% url 'otzivi' %}">Отзывы</a>
        </li>
        <li class="header_item">
            <a class="header_link header_link_color" href="{% url 'oplata' %}">Оплата</a>
        </li>
        <li class="header_item">
            <a class="header_link header_link_color" href="{% url 'kontakt' %}">Контакты</a>
        </li>
    </ul>
</nav> 
<div class="container">
    <div class="otz">
        <div class="text">
            <h1>Дмитрий</h1>
            <p>Спасибо за отличный отпуск в Черногории.</p>
            <p>Все услуги были сделаны на высшем уровне.</p>
            <p>Мне все понравилось. Турагенсту ставлю 5 звёзд.</p>
        </div>
        <div class="text1">
            <h1>Юрий</h1>
            <p>Мне очень понравился отдых в ОАЭ.</p>
            <p>Отель отчличный. Сервис на высшем уровне.</p>
            <p>Мне почти все понравилось. Турагенсту ставлю 4 звёзды.</p>
        </div>
        <div class="text2">
            <h1>Владислав</h1>
            <p>Хороший сервис Турагенства.</p>
            <p>Все на высшем уровне. и все сделано отлично.</p>
            <p>Ставлю Турагенсту 5 звёзд.</p>
        </div>
        <div class="text3">
            <h1>Оксана</h1>
            <p>Летала с мужем в Дубаи. Все понравилось.</p>
            <p>Отличный сервис. Отличное Турагенство.</p>
            <p>Все было сделано очень быстро. 5 звёзд.</p>
        </div>
        <div class="text4">
            <h1>Евгений</h1>
            <p>Тур был подобран отлично.</p>
            <p>Экскурсии были интересные. Понимаю за что заплатил</p>
            <p>Спасибо за интересные туры, ставлю 5 здвёзд</p>
        </div>
        <div class="text5">
            <h1>Алексей</h1>
            <p>В туре все было отлично сделано.</p>
            <p>Нам с женой очень понравилось.</p>
            <p>В скором времени закажем еще тур по Черногории.</p>
        </div>
        <div class="text6">
            <h1>Павел</h1>
            <p>Летал один в ОАЭ. Все понравилось.</p>
            <p>В следущий раз полечу со своими друзьями.</p>
            <p>Спасибо за все сделанное. Ставлю 5 здвёзд.</p>
        </div>
        <div class="text7">
            <h1>Геннадий</h1>
            <p>Туры очень интересные. Очень хорошие экскурсии.</p>
            <p>Все понравилось. Буду ещё пользоваться этим Турагенством.</p>
            <p>Ставлю 5 звёзд.</p>
        </div>
        <div class="text8">
            <h1>Наталья</h1>
            <p>Изначально не очень хотел заказывать тур в агенстве.</p>
            <p>Но моё мнение поменялось после полёта в Чехию.</p>
            <p>Ставлю 5 здвёзд. Следующим летом полечу на Мальдивы.</p>
        </div>
        <div class="text9">
            <h1>Виктория</h1>
            <p>Хочу посоветовать это турагенствою.</p>
            <p>Все было сделано на высшем уровне.</p>
            <p>Ставлю 5 здвёзд.</p>
        </div>
        <div class="text10">
            <h1>Артём</h1>
            <p>Понравился тур по Черногории.</p>
            <p>Очень много красивых мест смог увидеть.</p>
            <p>Спасибо за отличный отпуск.</p>
        </div>
        <div class="text11">
            <h1>Михаил</h1>
            <p>Летай уже не раз через это турагенство.</p>
            <p>Спасибо за то что вы делаете.</p>
            <p>Ставлю 5 звёзд.</p>
        </div>
    </div>
</div>
</body>
</html>