{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/podbor.css'%}">
    <link rel="website icon" href="{% static 'img/Logo.png' %}" type="png">
    <title>Подбор тура</title>
</head>
<body>
    <nav class="header_nav">
        <ul class="header_list">
            <li class="header_item">
                <a class="header_link header_link_color" href="{% url 'home1' %}">Главная страница</a>
            </li>
            <li class="header_item">
                <a class="header_link header_link_color" href="{% url 'podbor' %}">Поиск тура</a>
            </li>
            <li class="header_item">
                <a class="header_link header_link_color" href="{% url 'otzivi1' %}">Отзывы</a>
            </li>
            <li class="header_item">
                <a class="header_link header_link_color" href="{% url 'oplata1' %}">Оплата</a>
            </li>
            <li class="header_item">
                <a class="header_link header_link_color" href="{% url 'kontakt1' %}">Контакты</a>
            </li>
        </ul>
    </nav>
    <section>
        <input class = "poisk" type="text" id="input" placeholder="Введите страну..">
        <ul id="list">
            <li><a class = "countru" href="{% url 'oaa' %}">ОАЭ</a></li>
            <li><a class = "countru" href="{% url 'chernogoria' %}">Черногория</a></li>
            <li><a class = "countru" href="{% url 'maldiv' %}">Мальдивы</a></li>
            <li><a class = "countru" href="{% url 'chex' %}">Чехия</a></li>
            <li><a class = "countru" href="{% url 'seul' %}">Сингапур</a></li>
        </ul>
    </section>
<script src={% static 'js/papa.js' %}></script>
</body>
</html>
