{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static 'css/seul1.css'%}">
    <link rel="website icon" href="{% static 'img/Logo.png' %}" type="png">
    <title>Grand Copthorne Waterfront</title>
</head>
<body>
<nav class="header_nav">
    <ul class="header_list">
        <li class="header_item">
            <a class="header_link header_link_color" href="{% url 'home' %}">Главная страница</a>
        </li>
        <li class="header_item">
            <a class="header_link header_link_color" href="{% url 'podbor' %}">Поиск тура</a>
        </li>
        <li class="header_item">
            <a class="header_link header_link_color" href="{% url 'otzivi' %}">Отзывы</a>
        </li>
        <li class="header_item">
            <a class="header_link header_link_color" href="{% url 'oplata' %}">Оплата</a>
        </li>
        <li class="header_item">
            <a class="header_link header_link_color" href="{% url 'kontakt' %}">Контакты</a>
        </li>
    </ul>
</nav>
<div>
    <h1 class="text">Grand Copthorne Waterfront</h1>
</div>
<div>
    <p class = "text1">Гранд-отель Copthorne Waterfront расположен на берегу реки Сингапур, в 5 минутах езды от улицы Орчард-роуд. К услугам гостей открытый бассейн, 4 ресторана и бесплатная парковка. В числе удобств бесплатный Wi-Fi на всей территории отеля.Из роскошных номеров с французскими окнами открывается вид на город или реку. В каждом номере установлен телевизор с плоским экраном и кабельными каналами, включая местные и международные каналы на разных языках, в том числе на китайском и английском. Гостям предоставляются бесплатные туалетно-косметические принадлежности с зубными щетками и зубной пастой.В распоряжении гостей тренажерный зал. Сотрудники туристического бюро, говорящие на английском, китайском и малайском языках, организуют различные экскурсии. Гости могут воспользоваться услугами прачечной и химчистки, а также почитать газеты на английском или китайском языке.</p>
</div>
<div class="slider moddel">
    <div class="slides">
        <input type="radio" name="r" id="r1">
        <input type="radio" name="r" id="r2">
        <input type="radio" name="r" id="r3">
        <input type="radio" name="r" id="r4">

        <div class="slide s1"><img src="{% static 'img/seul14.jpg' %}" alt=""></div>
        <div class="slide"><img src="{% static 'img/seul12.jpg' %}" alt=""></div>
        <div class="slide"><img src="{% static 'img/seul13.jpg' %}" alt=""></div>
        <div class="slide"><img src="{% static 'img/seul11.jpg' %}" alt=""></div>
    </div>
    <div class="navigation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
        <label for="r4" class="bar"></label>
    </div>
    </div>
</div>
</div>
<div>
    <li class="headeritem">
        <a class="headerlink header_link_color linkk" href="{% url 'oplati' %}">Забронировать</a>
    </li>
    <p class = "text3">Цена: 3000$</p>
</div>
</body>
</html>